*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bg-image/pexels-tobias-bjørkli-1887629.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;

    /* overflow: hidden; */
}
.current-info{
    background-color: rgba(24, 24, 27, 0.7);
    color: #fff;
    padding: 31px;
    border-radius: 10px;
    border: 3px solid rgb(0, 60, 255);
    margin: 64px 0;
}
.date-container{
   
    font-weight: 100;
}
.row{
    --bs-gutter-x: 0.0rem !important;
}
.date-container .time{
    font-size:70px ; 
    font-weight: 100;  
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
.current-info .date{
    font-size: 40px;
}
.current-weather-items{
    background-color: rgba(24, 24, 27, 0.5);

}
.cyti-name h1{
    font-size: 70px;
    font-weight: bold;
}
.today{
    text-align: center;
    border: 2px solid #000 ;
    border-radius: 10px;
    /* margin: 1px; */
    padding: 10px;
}